<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <link rel="stylesheet" href="/main.css"/>
  <link 
  href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css" 
  rel="stylesheet"
  />
  <script src="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js"></script>
  <title>Portfolio</title>
</head>

<body>
<div class="frame">
    <div class="main_frame">
        <div class="left_frame">
            <div class="left_1">
                <div class="left_1_1">
                    <img 
                    src="images/profile.png" 
                    width="156px" 
                    height="142px"
                    alt=""
                    />
                </div>
                <div class="left_1_2"><%=user.name%></div>
                <div class="left_1_3"><%=user.profession%></div>
                <div class="left_icons">
                    <a class="link_href" href="">
                        <div class="icon">
                            <img src="icon/Icons-facebook.svg" class="icon-1"/>
                        </div>
                    </a>
                     <a class="link_href" href="">
                        <div class="icon">
                            <img src="icon/Icons-instagram.svg" class="icon-1"/>
                        </div>
                    </a>
                     <a class="link_href" href="">
                        <div class="icon">
                            <img src="icon/Icons-twitter.svg" class="icon-1"/>
                        </div>
                    </a>
                     <a class="link_href" href="">
                        <div class="icon">
                            <img src="icon/Icons-linkedin.svg" class="icon-1"/>
                        </div>
                    </a>
                     <a class="link_href" href="">
                        <div class="icon">
                            <img src="icon/Icons-Youtube.svg" class="icon-1"/>
                        </div>
                    </a>
                     <a class="link_href" href="">
                        <div class="icon">
                            <img src="icon/Icons-dribbble.svg" class="icon-1"/>
                        </div>
                    </a>

                </div>
            </div>
            <div class="marginer"></div>

                <div class="left_2">
                <div class="left_2_1">
                    <div class="label">Age:</div>
                        <div class="value"><%=user.age%></div>
                 </div>
    
                <div class="left_2_1">
                <div class="label">Residence:</div>
                    <div class="value"><%=user.residence%></div>
                </div>
    
                <div class="left_2_1">
                <div class="label">Freelance:</div>
                 <div class="value available">Available</div>
                 </div>
    
                 <div class="left_2_1">
                 <div class="label">Address:</div>
                    <div class="value"><%=user.adress%></div>
                 </div>
            </div>


            <div class="marginer"></div>
             <div class="left_3">
                <div class="languages-section">
                <h3 class="section-title">Languages</h3>
    
             <div class="language-item">
              <div class="language-info">
                 <span class="language-name">Uzbek</span>
                 <span class="language-percent">100%</span>
           </div>
            <div class="language-bar">
            <div class="language-progress" style="width: 100%;"></div>
           </div>
    </div>
    
        <div class="language-item">
        <div class="language-info">
            <span class="language-name">Korean</span>
            <span class="language-percent">80%</span>
        </div>
        <div class="language-bar">
            <div class="language-progress" style="width: 80%;"></div>
        </div>
    </div>
    
         <div class="language-item">
        <div class="language-info">
            <span class="language-name">English</span>
            <span class="language-percent">60%</span>
        </div>
        <div class="language-bar">
            <div class="language-progress" style="width: 60%;"></div>
        </div>
    </div>
</div>
</div>
            
            
            <div class="marginer"></div>
            <div class="left_4">
                <div class="skill-section">
    <h3 class="skill-sarlavha">Skills</h3>
    
    <div class="skill-item">
        <div class="skill-info">
            <span class="skill">Html</span>
            <span class="skill-percent">90%</span>
        </div>
        <div class="skill-bar">
            <div class="skill-progress" style="width: 90%;"></div>
        </div>
    </div>
    
    <div class="skill-item">
        <div class="skill-info">
            <span class="skill-name">CSS</span>
            <span class="skill-percent">85%</span>
        </div>
        <div class="skill-bar">
            <div class="skill-progress" style="width: 85%;"></div>
        </div>
    </div>
    
    <div class="skill-item">
        <div class="skill-info">
            <span class="skill-name">NodeJS</span>
            <span class="skill-percent">70%</span>
        </div>
        <div class="skill-bar">
            <div class="skill-progress" style="width: 70%;"></div>
        </div>
    </div>

     <div class="skill-item">
        <div class="skill-info">
            <span class="skill-name">Python</span>
            <span class="skill-percent">60%</span>
        </div>
        <div class="skill-bar">
            <div class="skill-progress" style="width: 60%;"></div>
        </div>
    </div>

     <div class="skill-item">
        <div class="skill-info">
            <span class="skill-name">Js</span>
            <span class="skill-percent">50%</span>
        </div>
        <div class="skill-bar">
            <div class="skill-progress" style="width: 50%;"></div>
        </div>
    </div>

</div>
 </div>
           <br><br><br><br> <div class="marginer"></div>
            <div class="left_5">
                <div class="extra-skills-section">
    <h3 class="section-title">Extra Skills</h3>
    
    <div class="skill-item">
        <div class="skill-icon">
            <div class="icon-squares">
                <div class="square"></div>
                <div class="square"></div>
            </div>
        </div>
        <span class="skill-text">Bootstrap, Materialize</span>
    </div>
    
    <div class="skill-item">
        <div class="skill-icon">
            <div class="icon-squares">
                <div class="square"></div>
                <div class="square"></div>
            </div>
        </div>
        <span class="skill-text">Styling, Sass</span>
    </div>
    
    <div class="skill-item">
        <div class="skill-icon">
            <div class="icon-squares">
                <div class="square"></div>
                <div class="square"></div>
            </div>
        </div>
        <span class="skill-text">Django, Flask</span>
    </div>
    
    <div class="skill-item">
        <div class="skill-icon">
            <div class="icon-squares">
                <div class="square"></div>
                <div class="square"></div>
            </div>
        </div>
        <span class="skill-text">GIT Knowledge</span>
    </div>
</div>
            </div>
            <div class="marginer"></div>
    
         </div>


        <div class="midd_frame">
            <div class="content">
          <div class="hero">
            <div>
              <h1>Software Engineer in <br>IT Company</h1>
              <p style="text-transform: capitalize" class="hero-text color_1"><%=user.about_me %></p>
              <p class="cta-hire">HIRE ME →</p>
            </div>
            <img
              style="
                width: 325.72px;
                height: 459.09px;
                top: 8px;
                left: 921.68px;
                gap: 0px;
                opacity: 0px;
              "
              src="images/doctor-image.png"
              alt="여기에 사진 있음"
            />
          </div>
          <div class="section-title"><h5>My Services</h5></div>

          <div class="section-subtitle">
            <p style="text-transform: capitalize" class="color_1"><%=user.service_desc %></p>
          </div>
          <div class="services-row-1">
            <div style="height: 225px" class="service-card">
              <img src="menu_icon/Icons_coding.svg" alt="" />
              <p><bold>Web development</bold></p>
              <p class="color_1">Blog, E-commerce</p>
            </div>
            <div class="service-card">
              <img src="menu_icon/Icons_illustration.svg" alt="" />
              <p>UI/UX Design</p>
              <p class="color_1">Mobile app, Website Design</p>
            </div>
            <div class="service-card">
              <img src="menu_icon/Icons_Microphone.svg" alt="" />
              <p>Sound Design</p>
              <p>Voice over, Beat Making</p>
            </div>
          </div>
          <div class="services-row-2">
            <div class="service-card">
              <img src="menu_icon/Icons_gaming.svg" alt="" />
              <p>Game Design</p>
              <p class="color_1">Character Design, Props & Objects</p>
            </div>
            <div class="service-card">
              <img src="menu_icon/Icons_Photographer.svg" alt="" />
              <p>Photography</p>
              <p class="color_1">portrait, product photography</p>
            </div>
            <div class="service-card">
              <p>Advertising</p>
              <p style="text-transform: capitalize" class="color_1 text111">
                Lorem ipsum dolor sit amet, consectetur adipiscing 
                elit. Vitae nulla diam in ac dictum a urna viverra morbi.
              </p>
              <img
                style="width: 86px; height: 20px"
                src="menu_icon/ORDER NOW.svg"
                alt=""
              />
            </div>
          </div>
        </div>
</div>
    


        <div class="right_frame">
            <div class="nav-rail">
          <div>
            <p
              style="
                padding-top: 30px;
                margin-bottom: 200px;
                width: 30px;
                height: 30px;
              "
            >
              <img src="btn_icon/icons_Contrast.svg" alt="" />
            </p>
          </div>
          <div class="nav-menu">
            <div class="nav-item">
              <img
                style="width: 18px; height: 18px"
                src="btn_icon/Icons_Home.svg"
                alt=""
              />
            </div>
            <div class="nav-item">
              <img style="width: 18px; height: 18px" src="btn_icon/codes.svg" alt="" />
            </div>
            <div class="nav-item">
              <img
                style="width: 18px; height: 18px"
                src="btn_icon/Icons_cv.svg"
                alt=""
              />
            </div>
            <div class="nav-item">
              <img
                style="width: 18px; height: 18px"
                src="btn_icon/Blog.svg"
                alt=""
              />
            </div>
            <div class="nav-item">
              <img
                style="width: 18px; height: 18px"
                src="btn_icon/contact.svg"
                alt=""
              />
            </div>
          </div>
        </div>

        </div>
    </div>
</div>
</body>
</html>
